html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    align-content: center;
    text-align: center;
    font-size: 18px;
    background-color: rebeccapurple;
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2)30%, rgba(0,0,0,0.2)100%) rebeccapurple;
    color: greenyellow;
    text-shadow: 1px 1px 1px black;
    
}